In [46]:
import pandas as pd

In [47]:
df=pd.read_csv("Task_4.csv",skipinitialspace=True)

In [48]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

dropping all the rows where area is not mentioned

In [50]:
df.dropna(subset="area",inplace=True)
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,no,no,NaN,no,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,no,no,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,no,no,no,NaN,0.0,no,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

converting all the values that are in other formats in "Yes" or "No" in diff columns

In [51]:
a={"Haanji":"Yes","no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes"}

In [52]:
df["prefarea"]=df["prefarea"].map(a)

In [53]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,no,no,NaN,no,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,no,no,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,no,no,no,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,No,NaN

In [54]:
df["airconditioning"].unique()

array(['yes', 'Naaji', 'no', nan, 'yep', 'y', 'Y', 'N', 'Nakko', 'Nah',
       'n', 'True', 'ille', 'False', 'Of course', 'Nope', 'Haanji'],
      dtype=object)

In [55]:
b={"Haanji":"Yes","no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes","Nah":"No"}
df["airconditioning"]=df["airconditioning"].map(b)

In [56]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,no,no,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,no,no,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,no,no,no,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [57]:
df["hotwaterheating"].unique()

array([nan, 'Nakko', 'no', 'Nope', 'yes', 'Nah', 'Y', 'n', 'Naaji',
       'False', 'ille', 'N', "['n']", 'y'], dtype=object)

In [58]:
c={"no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes","Nah":"Yes"}

In [59]:
df["hotwaterheating"]=df["hotwaterheating"].map(c)

In [60]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,no,no,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,no,No,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,no,no,No,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [62]:
df["basement"].unique()

array([nan, 'no', 'yes', 'N', 'Haanji', 'Naaji', 'y', 'Haan', 'False',
       'Nakko', 'ille', 'Nah', 'True', 'yep', 'Nope', 'Indeed', "['n']",
       'Of course', 'Y', 'Yo', 'n'], dtype=object)

In [63]:
d={"Haanji":"Yes","no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes","Nah":"No","Indeed":"Yes"}

In [64]:
df["basement"]=df["basement"].map(d)

In [65]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,no,No,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,No,No,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,no,No,No,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,No,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [66]:
df["guestroom"].unique()

array([nan, 'no', 'Of course', 'yes', 'ille', 'y', 'Yo', 'Nakko', 'Y',
       'Naaji', 'n', 'False', "['n']", 'Nah', 'Haanji', 'True', 'N',
       'Nope', 'Indeed', 'yep'], dtype=object)

In [67]:
e={"Haanji":"Yes","no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes","Nah":"No","Indeed":"Yes"}

In [68]:
df["guestroom"]=df["guestroom"].map(e)

In [69]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,No,No,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,yes,NaN,No,No,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,No,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,No,No,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [71]:
df["mainroad"].unique()

array([nan, 'yes', 'Of course', 'Indeed', 'yep', 'True', 'Y', "['y']",
       'y', 'Yo', 'no', 'Haanji', 'Haan', 'Nakko', 'Nope'], dtype=object)

In [72]:
f={"Haanji":"Yes","no":"No","yes":"Yes","Haan":"Yes","Of course":"Yes","Nakko":"No","Nope":"No","N":"No","yep":"Yes","y":"Yes","True":"Yes","n":"No","['n']":"No","False":"No","Naaji":"No","ille":"No","Yo":"Yes","Y":"Yes","Nah":"No","Indeed":"Yes","['y']":"Yes"}

In [73]:
df["mainroad"]=df["mainroad"].map(f)

In [74]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,2100000,3000.0,4.0,NaN,2.0,NaN,No,No,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,No,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,No,NaN,0.0,No,NaN
542,1750000,3620.0,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

dropping rows where bedrooms are not mentioned

In [75]:
df.dropna(subset="bedrooms",inplace=True)

In [76]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
7,10150000,16200.0,5.0,3.0,2.0,NaN,NaN,No,NaN,No,0.0,No,NaN
9,9800000,5750.0,3.0,2.0,4.0,NaN,NaN,No,No,Yes,1.0,NaN,unfurnished
10,9800000,13200.0,3.0,1.0,2.0,Yes,No,NaN,No,NaN,2.0,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,2100000,2400.0,3.0,1.0,NaN,Yes,NaN,No,No,NaN,0.0,NaN,unfurnished
534,2100000,3000.0,4.0,NaN,2.0,NaN,No,No,NaN,No,0.0,NaN,unfurnished
535,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,No,NaN,NaN,NaN,NaN
538,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,No,NaN,0.0,No,NaN
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

dropping rows where bathrooms are not mentioned

In [92]:
df.dropna(subset="bathrooms",inplace=True)

In [93]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
2,10150000,16200.0,5.0,3.0,2.0,NaN,NaN,No,NaN,No,0.0,No,NaN
3,9800000,5750.0,3.0,2.0,4.0,NaN,NaN,No,No,Yes,1.0,NaN,unfurnished
4,9800000,13200.0,3.0,1.0,2.0,Yes,No,NaN,No,NaN,2.0,Yes,NaN
9,8645000,8050.0,3.0,1.0,NaN,Yes,NaN,NaN,Yes,NaN,1.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,2233000,5300.0,3.0,1.0,1.0,No,No,No,No,Yes,0.0,Yes,unfurnished
222,2100000,2400.0,3.0,1.0,NaN,Yes,NaN,No,No,NaN,0.0,NaN,unfurnished
224,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,No,NaN,NaN,NaN,NaN
225,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,No,NaN,0.0,No,NaN
226,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

dropping column basement as it does not provide much info as most of them are no or nan

In [97]:
df.drop("basement",axis=1,inplace=True)

In [98]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,No,No,2.0,Yes,semi-furnished
2,10150000,16200.0,5.0,3.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN
3,9800000,5750.0,3.0,2.0,4.0,NaN,NaN,No,Yes,1.0,NaN,unfurnished
4,9800000,13200.0,3.0,1.0,2.0,Yes,No,No,NaN,2.0,Yes,NaN
9,8645000,8050.0,3.0,1.0,NaN,Yes,NaN,Yes,NaN,1.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
221,2233000,5300.0,3.0,1.0,1.0,No,No,No,Yes,0.0,Yes,unfurnished
222,2100000,2400.0,3.0,1.0,NaN,Yes,NaN,No,NaN,0.0,NaN,unfurnished
224,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,NaN,NaN,NaN,NaN
225,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,NaN,0.0,No,NaN
226,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN

changing format of unfurnished so it looks fimiliar to semi-furnished

In [108]:
df.loc[df["furnishingstatus"]=="unfurnished","furnishingstatus"]="un-furnished"

In [110]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,No,No,2.0,Yes,semi-furnished
2,10150000,16200.0,5.0,3.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN
3,9800000,5750.0,3.0,2.0,4.0,NaN,NaN,No,Yes,1.0,NaN,un-furnished
4,9800000,13200.0,3.0,1.0,2.0,Yes,No,No,NaN,2.0,Yes,NaN
9,8645000,8050.0,3.0,1.0,NaN,Yes,NaN,Yes,NaN,1.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
221,2233000,5300.0,3.0,1.0,1.0,No,No,No,Yes,0.0,Yes,un-furnished
222,2100000,2400.0,3.0,1.0,NaN,Yes,NaN,No,NaN,0.0,NaN,un-furnished
224,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,NaN,NaN,NaN,NaN
225,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,NaN,0.0,No,NaN
226,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN

resetting index

In [112]:
df.reset_index(drop=True,inplace=True)

In [113]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,No,No,2.0,Yes,semi-furnished
1,10150000,16200.0,5.0,3.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN
2,9800000,5750.0,3.0,2.0,4.0,NaN,NaN,No,Yes,1.0,NaN,un-furnished
3,9800000,13200.0,3.0,1.0,2.0,Yes,No,No,NaN,2.0,Yes,NaN
4,8645000,8050.0,3.0,1.0,NaN,Yes,NaN,Yes,NaN,1.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
138,2233000,5300.0,3.0,1.0,1.0,No,No,No,Yes,0.0,Yes,un-furnished
139,2100000,2400.0,3.0,1.0,NaN,Yes,NaN,No,NaN,0.0,NaN,un-furnished
140,2100000,3360.0,2.0,1.0,1.0,Yes,NaN,No,NaN,NaN,NaN,NaN
141,1890000,3649.0,2.0,1.0,NaN,NaN,No,No,NaN,0.0,No,NaN
142,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,No,0.0,No,NaN

In [114]:
df.to_csv("birth.csv")