In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Task_4.csv")

In [3]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,yes,2.0,Haanji,furnished
1,12250000,8960.0,NaN,4.0,4.0,yes,no,no,Nakko,yes,NaN,no,furnished
2,12250000,9960.0,3.0,2.0,2.0,yes,NaN,yes,no,Naaji,2.0,yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Of course,yes,NaN,yes,2.0,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,no,NaN,no,no,NaN,no,unfurnished
541,1767150,NaN,3.0,1.0,1.0,no,ille,no,no,Nah,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,yes,no,no,NaN,NaN,NaN,n,unfurnished
543,1750000,NaN,NaN,1.0,1.0,no,no,no,no,no,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,no,0.0,Naaji,NaN

In [4]:
df['prefarea'].unique()

array(['Haanji', 'no', 'yes', 'Haan', nan, 'Of course', 'Nakko', 'Nope',
       'ille', 'N', 'yep', 'y', 'Naaji', 'True', 'Y', 'n', "['n']",
       'False', 'Yo', 'Nah'], dtype=object)

In [5]:
a=["Haanji","Yes","yes","Haan","Of course","yep","y","True","Yo","Y","Indeed","Haanji","['y']"]
b=["no","Nakko","Nope","N","n","['n']","False","Naaji","ille","Nah"]

In [6]:
df.replace(a,"Yes",inplace=True)

In [7]:
df.replace(b,"No",inplace=True)

In [8]:
df.prefarea.unique()

array(['Yes', 'No', nan], dtype=object)

In [9]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,NaN,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,NaN,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [10]:
df.mainroad.unique()

array([nan, 'Yes', 'No'], dtype=object)

In [11]:
df['bedrooms'].unique()

array([ 4., nan,  3.,  5.,  2.,  6.,  1.])

In [12]:
m1=df["area"].loc[(df['bedrooms']==4)&(df["price"]>5000000)].mean()

m1

6701.75

In [13]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,NaN,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,NaN,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [14]:
df.loc[(df['bedrooms'] == 4)&(df["price"]>5000000),'area']=df.loc[(df['bedrooms'] == 4)&(df["price"]>5000000),'area'].fillna(m1)
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,NaN,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,NaN,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [15]:
m2=df["area"].loc[(df['bedrooms']==4)&(df["price"]<=5000000)].mean()

m2

4387.315789473684

In [16]:
df.loc[(df['bedrooms'] == 4)&(df["price"]<=5000000),'area']=df.loc[(df['bedrooms'] == 4)&(df["price"]<=5000000),'area'].fillna(m2)

In [17]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.0,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.0,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.0,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.0,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,NaN,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,NaN,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.0,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,NaN,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [18]:
m3=df["area"].loc[(df['bedrooms']==5)].mean()

In [19]:
m3

10910.0

In [20]:
df.loc[df['bedrooms'] == 5,'area']=df.loc[(df['bedrooms'] == 5),'area'].fillna(m3)

In [21]:
m4=df["area"].loc[(df['bedrooms']==6)].mean()
m4

4300.0

In [22]:
df.loc[df['bedrooms'] == 6,'area']=df.loc[(df['bedrooms'] == 6),'area'].fillna(m4)

In [23]:
m5=df["area"].loc[(df['bedrooms']==3)].mean().round(decimals=2)
m5

5348.27

In [24]:
df.loc[df['bedrooms'] == 3,'area']=df.loc[(df['bedrooms'] == 3),'area'].fillna(m5)

In [25]:
m6=df["area"].loc[(df['bedrooms']==2)].mean().round(decimals=2)
m6

4658.37

In [26]:
df.loc[df['bedrooms'] == 2,'area']=df.loc[(df['bedrooms'] == 2),'area'].fillna(m6)

In [27]:
m7=df["area"].loc[(df['bedrooms']==1)].mean().round(decimals=2)
m7

3450.0

In [28]:
df.loc[df['bedrooms'] == 1,'area']=df.loc[(df['bedrooms'] == 1),'area'].fillna(m7)

In [29]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.00,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.00,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.00,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.00,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.00,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.37,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.27,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.00,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,NaN,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.00,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [30]:
df['area'].isnull().sum()

75

In [31]:
df['area'].fillna(df['area'].mean(),inplace=True)

In [32]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,NaN,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,NaN,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,NaN,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [33]:
df.loc[:,'bedrooms']=df.loc[:,'bedrooms'].fillna(df['bathrooms']+2)

In [34]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,NaN,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [35]:
df['bathrooms'].unique()

array([nan,  4.,  2.,  1.,  3.])

In [36]:
df.loc[df['bedrooms']>3,'bathrooms']=df.loc[df['bedrooms']>3,'bathrooms'].fillna(df['bedrooms']-2)

In [37]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,NaN,NaN,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,NaN,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,NaN,NaN,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [38]:
df['bathrooms'].mean()

1.309090909090909

In [39]:
df['bathrooms'].fillna(1,inplace=True)

In [40]:
df['bedrooms'].mean()

3.016293279022403

In [41]:
df['bedrooms'].fillna(3,inplace=True)

In [42]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,NaN,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,NaN,NaN,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,NaN,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,NaN,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,3.0,1.0,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,NaN,NaN,NaN,NaN,No,0.0,No,NaN

In [43]:
df['mainroad'].value_counts()

mainroad
Yes    296
No      55
Name: count, dtype: int64

In [44]:
df['mainroad'].fillna("yes",inplace=True)

In [45]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,NaN,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,3.0,1.0,NaN,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,NaN,No,0.0,No,NaN

In [46]:
df['stories'].value_counts()

stories
2.0    162
1.0    139
4.0     30
3.0     29
Name: count, dtype: int64

In [47]:
df['stories'].mean()

1.8611111111111112

In [48]:
df['stories'].isnull().sum()

185

In [49]:
#most of them have 2 stories so

In [50]:
(df['bedrooms']-df["stories"]).mean()

1.1555555555555554

In [51]:
#mostly the stories are 1 less tha the bedrooms

In [52]:
df.loc[df["bedrooms"]>1,'stories']=df.loc[df["bedrooms"]>1,'stories'].fillna(df['bedrooms']-1)

In [53]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,NaN,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,NaN,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,NaN,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,NaN,No,0.0,No,NaN

In [54]:
df['stories'].isnull().sum()

0

In [55]:
df['guestroom'].isnull().sum()

210

In [56]:
df['hotwaterheating'].value_counts()

hotwaterheating
No     323
Yes     18
Name: count, dtype: int64

In [57]:
#most hot water is no

In [58]:
df['hotwaterheating'].fillna("No",inplace=True)

In [59]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,NaN,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,NaN,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,No,No,0.0,No,NaN

In [60]:
df['parking'].value_counts()

parking
0.0    189
1.0     73
2.0     68
3.0      7
Name: count, dtype: int64

In [61]:
df.loc[df['parking']==0,"area"]

7      16200.000000
14      7800.000000
26      6000.000000
41      6360.000000
45      6000.000000
           ...
533     2400.000000
534     3000.000000
538     3649.000000
543     5268.134974
544     3850.000000
Name: area, Length: 189, dtype: float64

In [62]:
s=(df.loc[df['parking']==0,"area"]).mean().round(decimals=2)

In [63]:
s

4801.72

In [64]:
df.loc[df['area']<s,"parking"]=df.loc[df['area']<s,"parking"].fillna(0)

In [65]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,NaN,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,No,No,0.0,No,NaN

In [66]:
df['parking'].value_counts()

parking
0.0    273
1.0     73
2.0     68
3.0      7
Name: count, dtype: int64

In [67]:
s1=(df.loc[df['parking']==1,"area"]).mean().round(decimals=2)

In [68]:
s1

5467.53

In [69]:
df.loc[df['area']<s1,"parking"]=df.loc[df['area']<s1,"parking"].fillna(1)

In [70]:
s2=(df.loc[df['parking']==2,"area"]).mean().round(decimals=2)

In [71]:
s2

6112.02

In [72]:
df.loc[df['area']<s2,"parking"]=df.loc[df['area']<s2,"parking"].fillna(2)

In [73]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,NaN,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,No,No,0.0,No,NaN

In [74]:
df['parking'].value_counts()

parking
0.0    273
1.0    134
2.0     85
3.0      7
Name: count, dtype: int64

In [75]:
s3=(df.loc[df['parking']==3,"area"]).mean().round(decimals=2)

In [76]:
s3

6247.56

In [77]:
df.loc[df['area']<s3,"parking"]=df.loc[df['area']<s3,"parking"].fillna(2)

In [78]:
df.loc[df['area']>s3,"parking"]=df.loc[df['area']>s3,"parking"].fillna(3)

In [79]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,NaN,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,NaN,NaN,No,No,0.0,No,NaN

In [80]:
(df.loc[df['guestroom']=="No",'bedrooms']).mean()

3.0332103321033212

In [81]:
df.loc[df['bedrooms']==3,"guestroom"]=df.loc[df['bedrooms']==3,"guestroom"].fillna("No")

In [82]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,NaN,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,NaN,No,No,0.0,No,NaN

In [83]:
df["guestroom"].value_counts()

guestroom
No     407
Yes     64
Name: count, dtype: int64

In [84]:
(df.loc[df['guestroom']=="Yes",'bedrooms']).mean()

3.171875

In [85]:
df.loc[df['bedrooms']>3,"guestroom"]=df.loc[df['bedrooms']>3,"guestroom"].fillna("Yes")

In [86]:
df['guestroom'].isnull().sum()

44

In [87]:
df['guestroom'].fillna("No",inplace=True)

In [88]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,NaN,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,NaN,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,NaN,No,No,0.0,No,NaN

In [89]:
df['basement'].value_counts()

basement
No     225
Yes    116
Name: count, dtype: int64

In [90]:
(df.loc[df['basement']=="No","stories"]).mean()

1.9422222222222223

In [97]:
df.loc[df['stories']<=2,'basement']=df.loc[df['stories']<=2,'basement'].fillna("Yes")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [92]:
df.loc[df['stories']==2,"basement"]

2      Yes
3      Yes
4      Yes
5      Yes
7       No
      ...
534     No
536     No
537     No
542     No
544    Yes
Name: basement, Length: 281, dtype: object

In [94]:
df['basement'].fillna("No",inplace=True)

In [95]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,NaN,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [96]:
df['price'].isnull().sum()

0

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    float64
 2   bedrooms          545 non-null    float64
 3   bathrooms         545 non-null    float64
 4   stories           545 non-null    float64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   357 non-null    object
 10  parking           545 non-null    float64
 11  prefarea          357 non-null    object
 12  furnishingstatus  358 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 55.5+ KB

In [103]:
a=(df.loc[df['airconditioning']=="No",'price']).mean()

In [104]:
b=(df.loc[df['airconditioning']=="Yes",'price']).mean()

In [106]:
k=(a+b)/2

In [107]:
df.loc[df['price']<=k,"airconditioning"]=df.loc[df['price']<=k,"airconditioning"].fillna("No")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [108]:
df.loc[df['price']>k,"airconditioning"]=df.loc[df['price']>k,"airconditioning"].fillna("Yes")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,NaN,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,NaN,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [112]:
x=(df.loc[df['prefarea']=="No",'price']).mean()

In [113]:
y=(df.loc[df["prefarea"]=="Yes",'price']).mean()

In [114]:
l=(x+y)/2

In [115]:
df.loc[df['price']<=l,"prefarea"]=df.loc[df['price']<=k,"prefarea"].fillna("No")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,No,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,No,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [116]:
df['prefarea'].fillna("Yes",inplace=True)

In [117]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,No,NaN
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,No,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,NaN

In [122]:
a1=(df.loc[df['furnishingstatus']=="furnished",'price']).mean()

In [123]:
b1=(df.loc[df['furnishingstatus']=="semi-furnished",'price']).mean()

In [124]:
c1=(df.loc[df['furnishingstatus']=="unfurnished",'price']).mean()

In [125]:
am1=(a1+b1)/2

In [126]:
am2=(b1+c1)/2

In [128]:
df.loc[df['price']<=am2,'furnishingstatus']=df.loc[df['price']<=am2,"furnishingstatus"].fillna("unfurnished")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,No,unfurnished
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,No,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,unfurnished

In [129]:
df.loc[df['price']>=am1,'furnishingstatus']=df.loc[df['price']>=am1,"furnishingstatus"].fillna("furnished")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,No,unfurnished
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,No,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,unfurnished

In [131]:
df['furnishingstatus'].fillna("semi-furnished",inplace=True)

In [132]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.000000,4.0,2.0,3.0,yes,Yes,No,No,Yes,2.0,Yes,furnished
1,12250000,8960.000000,6.0,4.0,4.0,Yes,No,No,No,Yes,3.0,No,furnished
2,12250000,9960.000000,3.0,2.0,2.0,Yes,No,Yes,No,No,2.0,Yes,semi-furnished
3,12215000,7500.000000,3.0,1.0,2.0,yes,No,Yes,No,Yes,3.0,Yes,furnished
4,11410000,7420.000000,3.0,1.0,2.0,yes,Yes,Yes,No,Yes,2.0,No,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,4658.370000,2.0,1.0,1.0,yes,No,Yes,No,No,0.0,No,unfurnished
541,1767150,5348.270000,3.0,1.0,1.0,No,No,No,No,No,1.0,No,unfurnished
542,1750000,3620.000000,3.0,1.0,2.0,Yes,No,No,No,No,0.0,No,unfurnished
543,1750000,5268.134974,3.0,1.0,1.0,No,No,No,No,No,0.0,No,furnished
544,1750000,3850.000000,3.0,1.0,2.0,yes,No,Yes,No,No,0.0,No,unfurnished

In [134]:
df['furnishingstatus'].value_counts()

furnishingstatus
unfurnished       220
semi-furnished    165
furnished         160
Name: count, dtype: int64

In [135]:
df.to_csv("Task_4_updated.csv")